# Python for Data Science: Data Types

## Introduction

In this section, we will explore the various data types in Python. Understanding data types is crucial because they define the operations that can be performed on the data and the way Python stores the data in memory.

## Core Data Types

### 1. Integer (int)
Integers are whole numbers, positive or negative, without decimals.

In [5]:
# Example of integer
x = 10
y = -5

### 2. Floating Point (float)
Floating point numbers are numbers with a decimal point.

In [6]:
# Example of float
a = 10.5
b = -3.14

### 3. String (str)
Strings are sequences of characters enclosed in quotes.

In [8]:
# Example of string
greeting = "Hello, World!"
name = 'Alice'

### 4. Boolean (bool)
Booleans represent one of two values: True or False.

In [9]:
# Example of boolean
is_student = True
has_passed = False

### 5. List (list)
Lists are ordered, mutable collections of items. They can contain elements of different data types.

In [10]:
# Example of list
numbers = [1, 2, 3, 4, 5]
mixed = [1, "Hello", 3.14, True]

### 6. Tuple (tuple)
Tuples are ordered, immutable collections of items. Like lists, they can contain elements of different data types.

In [11]:
# Example of tuple
coordinates = (10.0, 20.0)

### 7. Dictionary (dict)
Dictionaries are unordered, mutable collections of key-value pairs.

In [12]:
# Example of dictionary
student = {"name": "Alice", "age": 25, "is_student": True}

### 8. Set (set)
Sets are unordered collections of unique items.

In [13]:
# Example of set
unique_numbers = {1, 2, 3, 4, 5}

## Data Type Conversion
- Sometimes, it is necessary to convert data from one type to another. This is known as type casting.

In [14]:
# Example of type casting
x = 10       # int
y = float(x) # converting int to float
z = str(x)   # converting int to string

# Check the types
print(type(x)) # Output: <class 'int'>
print(type(y)) # Output: <class 'float'>
print(type(z)) # Output: <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

## Summary
Understanding Python's data types is fundamental to effective programming. They help in storing and manipulating data efficiently. Here, we've covered integers, floats, strings, booleans, lists, tuples, dictionaries, and sets. As we progress, we will see how these data types can be utilized in data science tasks, including data analysis, manipulation, and visualization.

 *Feel free to experiment with these data types and practice type conversions to get a solid grasp of how they work!*